



  <h2 style="text-align:center;"> Hello There</h2>
  <p style="text-align:center;"> Ask your question:</p>

  <form style="text-align:center;" action="answer" method="get">
  <input name="yourquestion" placeholder="Ask me sonething">
  <input type="submit" value="Ask!">
  </form>


